/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "react-wood-duck/dist/styles/application.scss";

body {
  background-color: #e8e8e8;
  color: #050505;
  font-family: ‘Source Sans Pro’, ‘Helvetica Neue’, ‘Helvetica’, ‘Roboto’, ‘Arial’, sans-serif;
  font-size: 1.5rem !important;
  line-height: 1.428571429;
}

label {
  display: block !important;
  margin-bottom: 0.5rem !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.card-buttons,
.resend-email-btn {
  height: 40px;
  margin: 0.5rem auto;
  width: 14rem;
  text-transform: uppercase;
  font-weight: 600 !important;

  &.card-buttons:disabled,
  &.resend-email-btn:disabled {
    cursor: not-allowed;
  }
}

.card-header-button {
  height: 40px;
  margin: 0.5rem;
  width: 14rem;
  font-weight: 600 !important;
}

.card-header {
  display: flex !important;
  justify-content: space-between;
}

.card-title {
  padding-top: 30px !important;
}

.lockedStatus {
  color: #ad2213;
}

.inlineAlertBox {
  color: #ad2213;
  border: 0.1rem solid #ad2213;
  font-weight: bold;
  padding: 0;
}

.inlineSuccessBox {
  color: #22ad13;
  border: 0.1rem solid #22ad13;
  font-weight: bold;
  padding: 0;
}

.modal-buttons {
  width: 14rem;
  text-transform: uppercase;
  font-weight: 600 !important;
  font-size: 15px !important;
}

.page-buttons {
  background-color: #17486a;
  box-shadow: black;
  color: #fff;
  height: 40px;
  margin: 4px;
  width: 14rem;
  text-transform: uppercase;
  font-weight: 600 !important;

  &.page-buttons:disabled {
    background-color: #17486a;
    border: none;
    color: #fff;
    cursor: not-allowed;
  }
}

.col-xs-5 {
  width: 40%;
}

.text-area {
  font-size: 1.5rem !important;
  color: black !important;
  box-shadow: none !important;
  height: 100px !important;
  margin: 0.75rem 0 0.75rem;
}

.text-area:focus {
  border-color: #2974a2 !important;
}

.col-md-3,
.col-md-1 {
  padding-left: 0;
  word-break: break-all;
}

.col-md-offset-2 {
  margin-right: 18%;
  margin-left: 0;
}

.react-bs-container-body {
  .userRow {
    word-break: break-all;
  }
}

.value-text-color {
  color: #adadad;
}

.resend-email-text {
  color: #c00000;
}

.alert {
  padding: 15px;
}

.errorMessage-customizable {
  margin-top: 30px;
}

/* Modal.jsx styles */

.nopermissionmodal-body-text {
  font-size: 16px;
  padding-left: 15px;
}

.modal-body {
  font-size: 15px;
  font-weight: 600;
}

.avatar {
  margin-top: 10px;
  padding-left: 0;
}

.modal-title {
  font-size: 12px;
  color: #09798e;
  font-weight: 600;
}

.header {
  height: 31px;
  color: #3a3a3a;
  font-family: initial;
  font-weight: 600;
  line-height: 42px;
  padding-left: 15px;
  font-size: 17px;
}

.change-made-header {
  width: 230px;
  height: 18px;
  color: #212121;
  font-size: 15px;
  font-family: initial;
  font-weight: normal;
  letter-spacing: -0.21px;
}

.change-made-to {
  width: 100%;
  height: 21px;
  color: #3a3a3a;
  font-family: initial;
  font-weight: 600;
  padding-left: 58px;
  margin-top: 10px;
}

.change-made-by {
  width: 100%;
  height: 31px;
  color: #3a3a3a;
  font-family: initial;
  font-weight: 600;
  line-height: 42px;
}

.change-made-to-user-info {
  color: #3a3a3a;
  font-size: 15px;
  font-family: initial;
  font-weight: normal;
  padding-left: 58px;
}

.change-made-by-user-info {
  color: #3a3a3a;
  font-size: 15px;
  font-family: initial;
  font-weight: normal;
  display: "flex";
}

.change-details {
  height: 30px;
  color: #212121;
  font-size: 15px;
  font-family: initial;
  font-weight: normal;
  letter-spacing: -0.21px;
  line-height: 42px;
}

.change-details-content {
  font-weight: 600;
  display: inline;
}

.vertical-line {
  border-left: 1px solid #b2b2b2;
  background-color: #fff;
  padding-left: 0;
  width: 0;
}

input[type="checkbox"]:checked + label::before,
input[type="checkbox"]:checked + span::before {
  background-position: 50%;
  background-image: none !important;
  background-repeat: no-repeat;
}

.result-card {
  font-size: 12px;
}

a.class1 {
  font-size: 12px !important;
  text-decoration: underline !important;
  color: #2974a2 !important;
  float: right;
  margin-top: 12px;
}

a.class1:focus,
a.class1:hover,
a.class1.active {
  color: #2974a2;
  background-color: transparent;
  font-weight: bold;
}

.no-search-results-box {
  margin-right: 15px;
  margin-bottom: 10px;
  border: 0.1rem solid #d4d4d4;
  padding: 30px;
  text-align: center;
}

#datagrid_pagination_1_pageJump {
  font-size: 1.5rem;
  height: calc(3.25rem + 2px);
}

.change-log-menu {
  background-color: transparent !important;
  border-color: transparent !important;
}
