/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'react-wood-duck/dist/styles/application.scss';
@import '@cwds/core/dist/styles';

body {
  background-color: #e8e8e8;
  color: #050505;
  font-family: ‘Source Sans Pro’, ‘Helvetica Neue’, ‘Helvetica’, ‘Roboto’, ‘Arial’, sans-serif;
  font-size: 1.5rem;
  line-height: 1.428571429;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.col-md-3 {
  padding-left: 0;
  word-break: break-all;
}

.col-md-1 {
  padding-left: 0;
}

.react-bs-container-body {
  .userRow {
    word-break: break-all;
  }
}

.value-text-color {
  color: #adadad;
}

.resend-email-text {
  color: #c00000;
}

.btn {
  display: inline;
  font-size: 1.5rem;
  text-align: right;
}

.alert {
  padding: 15px;
}

.errorMessage-customizable {
  margin-top: 30px;
}

.resend-email-btn {
  .btn.btn-primary {
    background-color: #098e88;
    margin: 0.5rem auto;

    &.btn.btn-primary:hover {
      background-color: #077873;
    }

    &.btn.btn-primary:disabled {
      box-shadow: none;
      background-color: #c2d6d5;
    }
  }
}

/* Modal.jsx styles */

.modal-body {
  font-size: 15px;
  font-weight: 600;
}

.avatar {
  margin-top: 10px;
}

.modal-title {
  font-size: 12px;
  color: #09798e;
  font-weight: 600;
}

.header {
  height: 31px;
  color: #3a3a3a;
  font-family: initial;
  font-weight: 600;
  line-height: 42px;
  padding-left: 15px;
  font-size: 17px;
}

.closeButton-customizable {
  color: rgba(13, 79, 120, 1);
}

.change-made-header {
  width: 230px;
  height: 18px;
  color: #212121;
  font-size: 15px;
  font-family: initial;
  font-weight: normal;
  letter-spacing: -0.21px;
}

.change-made-to {
  width: 100%;
  height: 21px;
  color: #3a3a3a;
  font-family: initial;
  font-weight: 600;
  padding-left: 58px;
  margin-top: 10px;
}

.change-made-by {
  width: 100%;
  height: 31px;
  color: #3a3a3a;
  font-family: initial;
  font-weight: 600;
  line-height: 42px;
}

.change-made-to-user-info {
  width: 100%;
  height: 42px;
  color: #3a3a3a;
  font-size: 15px;
  font-family: initial;
  font-weight: normal;
  padding-left: 58px;
}

.change-made-by-user-info {
  width: 100%;
  height: 42px;
  color: #3a3a3a;
  font-size: 15px;
  font-family: initial;
  font-weight: normal;
  line-height: 21px;
}

.change-details {
  height: 30px;
  color: #212121;
  font-size: 15px;
  font-family: initial;
  font-weight: normal;
  letter-spacing: -0.21px;
  line-height: 42px;
}

.change-details-content {
  font-weight: 600;
  display: contents;
}

.notes {
  height: 30px;
  color: #3a3a3a;
  font-family: initial;
  font-weight: 600;
  line-height: 45px;
  font-size: 17px;
}
